@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui;


}

@layer base {
  body {
    font-family: var(--font-poppins), sans-serif;
    @apply bg-gray-50 text-gray-900;
  }
}